이 프로젝트는 "HandRoyal" 이라는 이름의 가위바위보를 통해 상대와 대전하는 게임의 프론트 엔드이다.

이 프로젝트는 tailwindcss를 사용하여 스타일링을 한다.

새롭게 추가하는 텍스트는 i18n을 적용해야 하고, 이를 src/i18n.js에 추가해야 한다.

src/i18n.js에 추가할 때는 기존 텍스트를 참고하여 추가해야 한다.

src/i18n.js는 영어와 한글을 지원해야 한다.

src/i18n.js는 key값이 중복되지 않아야 하고, 알파벳 순서로 정렬되어있어야 한다.

